graft fhir
prune fhir/resources/tests
prune fhir/resources/STU3/tests
prune fhir/resources/R4B/tests
prune script
prune tests
prune .github
prune fhir-parser
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

exclude tox.ini
exclude Makefile
exclude .editorconfig
exclude .gitmodules
exclude pyproject.toml .flake8 .isort.cfg appveyor.yml .python-version

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
