graft fhir
prune fhir/resources/tests
prune fhir/resources/STU3/tests
prune fhir/resources/DSTU2/tests
prune script
prune .github
prune fhir-parser
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

exclude tox.ini
exclude Makefile
exclude .editorconfig
exclude .gitmodules
exclude pyproject.toml .flake8 .isort.cfg appveyor.yml

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
