graft fhir
prune script
prune .github
prune fhir-parser
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

exclude Pipfile*
exclude tox.ini
exclude Makefile
exclude .editorconfig
exclude .gitmodules
exclude requirements_dev.txt pyproject.toml

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
