[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fhir-resources = {editable = true,extras = ["test"],path = "."}
Jinja2 = {version = ">=2.9.5"}
MarkupSafe = {version = "==0.23"}
requests = {version = ">=2.13.0"}
colorlog = {version = "==2.10.0"}
certifi = "*"
zest-releaser = {extras = ["recommended"],version = "*"}
pytest = {version = "==4.5.0"}

[packages]
isodate = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
