[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fhir-resources = {editable = true,extras = ["test"],path = "."}
Jinja2 = {version = ">=2.11.1"}
MarkupSafe = {version = ">=1.1.1"}
requests = {version = ">=2.13.0"}
colorlog = {version = "==2.10.0"}
certifi = "*"
isort = "*"
black = "*"
zest-releaser = {extras = ["recommended"],version = "*"}

[packages]
isodate = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
