atomicwrites==1.2.1
attrs==18.2.0
bleach==3.1.0
certifi==2018.11.29
chardet==3.0.4
check-manifest==0.37
colorama==0.4.1
colorlog==2.10.0
docutils==0.14
idna==2.8
isodate==0.6.0
Jinja2==2.10
MarkupSafe==0.23
more-itertools==5.0.0
pkginfo==1.5.0.1
pluggy==0.8.1
py==1.7.0
Pygments==2.3.1
pyroma==2.4
pytest==4.1.0
pytest-runner==4.2
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.8.0
six==1.12.0
tqdm==4.29.0
twine==1.12.1
urllib3==1.24.1
webencodings==0.5.1
zest.releaser==6.15.4
